# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\信工所\douyin-sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
